*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f1f1f1;
	transition: 3s ease;
	animation: breathing 3s infinite;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
@keyframes breathing{
	0%{background: #f1f1f1;}
	20%{background: #f1f1f1;}
	40%{background: #ccc;}
	60%{background: #ccc;}
	80%{background: #f2f2f2;}
	100%{background: #f2f2f2;}
}
.spinner{
	width: 140px;
	height: 140px;
	position: relative;
	top: 280px;
	animation: spinner 1s linear infinite;
}
@keyframes spinner{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.fa.fa-circle{
	font-size: 3rem;
	position: absolute;
	transition: 3s;
	animation: opa 3s linear infinite;
}
@keyframes opa{
	0%{ opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 0;}
}
.fa.fa-circle:first-child{
	color: #fda543;
	top: 0;
	left:0;
}
.fa.fa-circle:nth-child(2){
	color: #f53e39;
	top: 0;
	right: 0;

}
.fa.fa-circle:nth-child(3){
	color: #183a48;
	bottom: 0;
	left: 0;
}
.fa.fa-circle:last-child{
	color: #19a68b;
	bottom: 0;
	right: 0;
}